# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
xcuserdata/
DerivedData/

# Ignore vim swaps
*.swp
*.swo
# CTags
tags

# Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CMakeLists.txt.user

